body {
    background-image: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/foil.png);
}
h1 {
    font-weight: 300;
}


/* ------------  NAVBAR  -------------*/
.navbar-default {
    background-color: #4aaaa5;
    border: 0;
}
.navbar-default .navbar-brand {
    color: white;
    font-size: 2.3em;
    font-weight: 200;
}
.navbar-default .navbar-nav > li > a {
    color: #777;
    font-size: 1.2em;
    font-weight: 200;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: orange;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: transparent;
}


/* ------------  CORE STRUCTURE  -------------*/
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px 20px;
    border-bottom: 1px solid #a9a9a9;
}

p {
    text-align: justify;
}

.socIcon {
    height: 50px;
    width: auto;
    padding: 0 12px 0 0;
    float: left;
}

.panel {
    width: 220px;
}

.panel-title {
    font-weight: 400;
}


/* ------------  PORTFOLIO MAIN  -------------*/
.thumbnail {
    width: 100%;
}
.thumbnail a {
    text-decoration: none;
}
.thumbnail a:hover {
    color: orange;
}
.caption {
    text-align: center;
}
.caption h3 {
    font-weight: 200;
    color: dimgray;
}
.caption h3:hover {
    color: orange;
}


/* ------------  CONTACT MAIN  -------------*/
.form-control {
    width: 90%;
}


/* ------------  FOOTER SECTION  -------------*/
footer {
    background: #666666;
    clear: both;
    height: 80px;
    width: 100%;
    line-height: 80px;
    text-align: center;
    border-top: 6px solid #4aaaa5;
    position: fixed;
    left: 0px;
    bottom: 0px;
}
footer p {
    color: #ffffff;
    font-size: 12px;
    text-align: center;
}


/* ------------  MEDIA QUERIES  -------------*/
@media (max-width: 767px) {
    .img-responsive {
        max-width: 94%;
        float: left;
        margin: 0 10px 20px 20px;
    }
    .panel {
        width: 100%;
        margin: 20px 0 100px 0;
    }
    p {
        clear: both;
        width: 94%;
        margin: 10px 0px 0 20px;
    }
}
@media (min-width: 768px) {
    .img-responsive {
        max-width: 40%;
        float: left;
        margin: 0 20px 0 20px;
    }
    p {
        margin: 0 20px;
    }
    .panel {
        width: 100%;
        margin: 20px 0 100px 0;
    }
}
@media (min-width: 992px) {
    .img-responsive {
        max-width: 40%;
        float: left;
        margin: 0 20px 20ps 20px;
    }
    p {
        margin: 0 20px;
    }
    .panel {
        width: 100%;
        margin: 20px 0 100px 0;
    }
}
@media (min-width: 1200px) {
    .img-responsive {
        max-width: 40%;
        float: left;
        margin: 0 20px 20px 20px;
    }
    .panel {
        width: 220px;
        margin: 0;
    }
    .clear {
        height: 100px;
        widows: 100%;
        background-color: transparent;
    }
}
